/* global sizing */
* {
  box-sizing: border-box;
}

/* ------ Base Element Styles ------ */
body {
  font-family: "Lexend Peta", sans-serif;
  margin: 0 auto;
  border: 0;
  padding: 0;
  text-align: center;
  color: black;
  background: white;
}

li {
  list-style: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header nav ul {
  display: flex;
  align-items: center;
}

h2 {
  font-size: 16px;
  text-align: center;
}

#about {
  padding: 30px;
  background-color: #f2f2f2;
  min-height: 250px;
}

#about > img {
  float: right;
  min-height: 200px;
  min-width: 250px;
  object-fit: contain;
}

#about > p {
  width: 800px;
  text-align: left;
}

#portfolio {
  display: block;
  padding: 30px 0;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

#portfolio h2 {
  margin-bottom: 45px;
}

#portfolio .row {
  display: block;
  margin: 10px auto;
}

#portfolio .row .card {
  float: left;
  width: 31.5%;
  margin: 10px 5px;
}

#contact {
  display: block;
  padding: 30px 0;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  clear: both;
}

#contact h3 {
  font-size: 16px;
  margin: 15px 15px;
  padding: 5px 10px;
  font-weight: bolder;
}

#contact .para-info {
  font-size: 12px;
  padding: 10px 10px;
  line-height: 1.5;
  font-weight: lighter;
  color: grey;
  width: 50%;
  margin: 0 auto;
}

#contact .para-info .bold {
  font-weight: 700;
}

.name {
  text-align: center;
  display: inline-block;
  font-size: 28px;
  padding: 10px;
}

.para-title {
  margin: 15px 15px;
}

.p-style {
  font-size: 10px;
}

/* ------ Navigation ------- */
.ul-links {
  padding: 0.1em;
  list-style-type: none;
}

.ul-links li {
  padding: 0.3em;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
}
.ul-links li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

/* ------- Layout Containers ------- */
.container {
  max-width: 100%;
}

.main-footer {
  display: inline-block;
  margin: 28px 28px;
  text-align: center;
}

/* ----- Media Queries ------- */
/* Tablet Media Query */
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
  }
  #portfolio .row .card {
    width: 48%;
    margin: 10px 0.4%;
  }

  .ul-links li {
    margin: 10px 5px;
  }

  .ul-links li a {
    font-size: 16px;
  }
}

/* Mobile Media Query */
@media screen and (max-width: 320px) {
  .main-header {
    /*flex-direction: column;*/
  }

  .main-header h2 {
    margin-bottom: 10px;
  }

  .main-header nav ul {
    flex-direction: column;
    margin-top: 0;
  }

  #about > img {
    float: none;
    display: block;
    margin: 5px auto;
  }

  #about > p {
    width: auto;
    text-align: center;
  }

  #portfolio .row {
    flex-direction: column;
  }
  #portfolio .row .card {
    float: none;
    display: block;
    margin: 20px auto;
    width: 100%;
  }

  #portfolio .row .card p {
    font-size: 13px;
  }

  #contact .para-info {
    width: 100%;
  }
}
